<h1>Listing parking_spots</h1>

<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Side</th>
      <th>Spots</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parking_spots.each do |parking_spot| %>
      <tr>
        <td><%= parking_spot.street %></td>
        <td><%= parking_spot.city %></td>
        <td><%= parking_spot.state %></td>
        <td><%= parking_spot.zip %></td>
        <td><%= parking_spot.lat %></td>
        <td><%= parking_spot.lon %></td>
        <td><%= parking_spot.side %></td>
        <td><%= parking_spot.spots %></td>
        <td><%= parking_spot.type %></td>
        <td><%= link_to 'Show', parking_spot %></td>
        <td><%= link_to 'Edit', edit_parking_spot_path(parking_spot) %></td>
        <td><%= link_to 'Destroy', parking_spot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking spot', new_parking_spot_path %>
