<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @checkin.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @checkin.location %>
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
